{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
{% for article in articles_page.object_list %}
<div class="article" itemscope itemtype="http://schema.org/BlogPosting">
    <a class="dnp-index-title" href="{{ SITEURL }}/{{ article.url }}">
        <h2 itemprop="name headline">{{ article.title }}</h2>
    </a>
    <!-- {{ article.date|strftime('%d %B %Y') }} -->
    <!-- article.date.isoformat() -->
    <!-- article.locale_date -->
    <time class="dnp-index-date" datetime="{{ article.date.isoformat() }}" itemprop="datePublished"> {{
        article.date|strftime('%B %d, %Y') }}</time>

    <!-- <span class="dnp-index-tag" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
        | <span itemprop="name">{{ article.author }}
        </span>
    </span> -->
    <!-- |
    <span class="dnp-index-date" itemprop="articleSection">
        <a class="dnp-index-date" href="{{ SITEURL }}/{{ article.category.url }}" rel="category">{{ article.category
            }}</a>
    </span> -->

    <span>
        {% for tag in article.tags %}
        <span class="post-tags" itemprop="keywords">
            <a class="post-tags" href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>
        </span>
        {% endfor %}
    </span>
    <p class="mb-3"></p>
    <!-- <span class="summary">{{ article.summary }}</span> -->
    <div itemprop="articleBody" class="article-body">{{ article.content }}</div>
    <!-- {% if article.category %}
                	Category:
                	<span itemprop="articleSection">
                		<a href="{{ SITEURL }}/{{ article.category.url }}" rel="category">{{ article.category }}</a>
                	</span>
                	{% endif %}
                	Tags:
                	{% if article.tags %} 
                	{% for tag in article.tags %}
                	<span itemprop="keywords">
                		<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>
                	</span>
                	{% endfor %}
                	{% endif %} -->
</div>
<hr>
{% endfor %}
{# For article #}
{% include 'pagination.html' %}
{% endif %}
{# If articles #}
{% endblock content %}